<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>



</ion-header>


<ion-content padding>

  <div class="test-box"></div>
    <ion-list>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" #userName></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" #password></ion-input>
        </ion-item>

    </ion-list>
    <div padding>
        <button ion-button full (click)="checkLogin()">Sign In</button>
        </div>
</ion-content>
