<!--
  Generated template for the JoinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>join</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngFor="let result of hostlist">{{result.name}}</div>
  <button (click)="adduser">Add user</button>
</ion-content>