<!--
  Generated template for the LanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>LAN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <ion-item-group>
    <ion-item-divider color="primary">Network</ion-item-divider>
    <ion-item *ngFor="let network of networks;let index=index" (click)="getpassword(index)">{{network.SSID}}</ion-item>

  </ion-item-group> -->
  <div padding>
    <button ion-button full (click)="creategame()">Create </button>
    <button ion-button full (click)="joingame()">Join</button>

  </div>

</ion-content>